[submodule ".config/kManulInstall/forgit"]
	path = .config/kManulInstall/forgit
	url = https://github.com/wfxr/forgit.git
[submodule ".config/kManulInstall/iterm2/everforest.iterm2"]
	path = .config/kManulInstall/iterm2/everforest.iterm2
	url = git@github.com:icewind/everforest.iterm2.git
